body {
	padding-top: 50px;
}

.form-box {
	margin-top: 30px;
	background: #f8f8f8;
	width: 60%;
	border: 3px solid #c4c4c4;
	padding: 0px 30px 30px 30px;
	color: #565656;
	text-align: center;
}

.form-box-submit-button {
	background: #acd134;
	color: #fbfeff;
	border: 0;
	border-bottom: 5px solid #7b9349;
	border-radius: 0;
	padding: 10px 50px;
	width: 70%;

}

.right {
	float: right;
}